### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# Google API client secrets file
conf/client_secrets.json

build/
dist/
logs
project/project
project/target
target
tmp
.history
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/files
