### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# API client secrets file
conf/google_client_secrets.json
conf/facebook_cookies
conf/messenger_cookies

build/
dist/
logs
project/project
project/target
target
tmp
.history
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/files
