@import partials.pagination
@import partials.messageWithComments
@import java.util.List

@(group: Group, posts: List[Post], step: Int, currentPage: Int)

@pages = @{
    (posts.length.toDouble / step).ceil.toInt
}

@groupPage(group) {
    <div>
        <ul class="uk-list">
        @for(post <- posts.asScala.view(step * (currentPage - 1), step * currentPage)) {
            <li>@messageWithComments(post.getThread)</li>
        }
        </ul>
        @pagination(pages, currentPage, groups.routes.Group.getActivity(group.getId).absoluteURL)
    </div>
}
