@import partials.pagination
@import partials.messageWithComments

@(group: Group, step: Int, currentPage: Int)

@pages = @{
    (group.getPosts.length.toDouble / step).ceil.toInt
}

@groupPage(group) {
    <div>
        <ul class="uk-list">
        @for(post <- group.getPosts.asScala.view(step * (currentPage - 1), step * currentPage)) {
            <li>@messageWithComments(post.getThread)</li>
        }
        </ul>
        @pagination(pages, currentPage, groups.routes.Group.getActivity(group.getId).absoluteURL)
    </div>
}
