@import pages.person.personPage
@import partials.fileEntry
@import partials.pagination

@(person: Person, step: Int, currentPage: Int)
@pages = @{
    (person.getFiles.length.toDouble / step).ceil.toInt
}

@personPage(person) {
    <div>
        <a href="@people.routes.UploadFile.get(person.getId)">
            <span data-uk-icon="icon: plus-circle"></span>
            Upload file
        </a>
        <ul class="uk-list">
        @for(file <- person.getFiles.asScala.view(step * (currentPage - 1), step * currentPage)) {
            <li>@fileEntry(file)</li>
        }
        </ul>
        @pagination(pages, currentPage, people.routes.Person.getFiles(person.getId).absoluteURL)
    </div>
}
