@import partials.message
@import java.util.List

@(messages: List[Message], query: String)

@main("Search Results") {
    <h1>Search results for @query</h1>
    <div>
        <ul class="uk-list">
        @for(msg <- messages) {
            <li>
                <p><a class="uk-link-reset uk-text-large" href="@posts.routes.Post.get(msg.getPost.getId)"><span data-uk-icon="icon: link; ratio: 1.5"></span> Go to Post</a></p>
                @message(msg)
                <hr/>
            </li>
        }
        </ul>
    </div>
}
