@import helper._
@(person: Person, form: Form[PersonInfo], types: java.util.List[PropertyType])

@main(s"Add ${person.getDisplayName}'s info") {
    <div class="subtitle-header">
        <h1 class="uk-heading-primary">New information</h1>
        <div class="subtitle">@person.getDisplayName</div>
    </div>
    @helper.form(action = routes.People.addPersonInfoPost(person.getId), args = 'class -> "uk-form-stacked") {
        <div class="uk-margin">
            <label class="uk-form-label" for="type">Type</label>
            <div class="uk-form-controls">
                <select id="type" name="type" class="uk-select" value="phoneNumber">
                @for(propertyType <- types) {
                    <option value="@propertyType.getPropertyId">
                        @propertyType.getName
                    </option>
                }
                </select>
            </div>
        </div>
        @inputText(form("value"), args = 'class -> "uk-input", '_label -> "Value")

        <button class="uk-button uk-button-default" type="submit">Save</button>
    }
}
