@(person: Person, form: Form[PersonInfo], types: java.util.List[PropertyType])

@main(s"Add ${person.getDisplayName}'s info") {
    <div class="subtitle-header">
        <h1 class="uk-heading-primary">New information</h1>
        <div class="subtitle">@person.getDisplayName</div>
    </div>
    @helper.form(action = people.routes.AddPersonInfo.post(person.getId), args = 'class -> "uk-form-stacked") {
        @_personInfoForm(null, form, types)
        <a class="uk-button uk-button-default" href="@people.routes.Person.get(person.getId)">Cancel</a>
        <button class="uk-button uk-button-default" type="submit">Add</button>
    }
}
