@import helper._
@import forms.UIKitFieldConstructor._
@(person: Person, personInfo: PersonInfo, form: Form[PersonInfo], types: java.util.List[PropertyType])

@main(s"Edit ${person.getDisplayName}'s ${personInfo.getType.getName}") {
    <div class="subtitle-header">
        <h1 class="uk-heading-primary">@personInfo.getType.getName</h1>
        <div class="subtitle">@person.getDisplayName</div>
    </div>
    @helper.form(action = routes.People.editPersonInfoPost(person.getId, personInfo.getId), args = 'class -> "uk-form-stacked") {
        <div class="uk-margin">
            <label class="uk-form-label" for="type">Type</label>
            <div class="uk-form-controls">
                <select id="type" name="type" class="uk-select" value="phoneNumber">
                @for(propertyType <- types) {
                    <option value="@propertyType.getPropertyId" @if(personInfo.getType.equals(propertyType)) {selected}>
                        @propertyType.getName
                    </option>
                }
                </select>
            </div>
        </div>
        @inputText(form("value"), args = 'class -> "uk-input", '_label -> "Value")

        <button class="uk-button uk-button-default" type="submit">Save</button>
    }
}
