@(person: Person, personInfo: PersonInfo, form: Form[PersonInfo], types: java.util.List[PropertyType])

    @main(s"Edit ${person.getDisplayName}'s ${personInfo.getType.getName}") {
        <div class="subtitle-header">
            <h1 class="uk-heading-primary">@personInfo.getType.getName</h1>
            <div class="subtitle">@person.getDisplayName</div>
        </div>
        @helper.form(action = people.routes.EditPersonInfo.post(person.getId, personInfo.getId), args = 'class -> "uk-form-stacked uk-display-inline") {
            @_personInfoForm(personInfo, form, types)
            <button class="uk-button uk-button-default" type="submit"><span data-uk-icon="icon: check"></span></button>
            <a class="uk-button uk-button-default" href="@people.routes.Person.get(person.getId)"><span data-uk-icon="icon: close"></span></a>
        }
        @helper.form(action = people.routes.RemovePersonInfo.post(person.getId, personInfo.getId), args = 'class -> "uk-float-right") {
            <button class="uk-button uk-button-default"><span data-uk-icon="icon: trash"></span></button>
        }
    }
