@(group: Group)

@main(group.getName) {
    <h1 class="group-panel uk-heading-primary">
    @group.getName
    </h1>
    <hr>
    <div>
        @if(group.getPhoto != null) {
            <img class="group-cover-image" src="@routes.File.get(group.getPhoto.getId)">
        }
        <dl class="uk-description-list">
        @if(group.getDescription) {
            <dt>About:</dt>
            <dd>@group.getDescription</dd>
        }
        </dl>
    </div>
    <ul data-uk-tab>
        <li><a href="#">Activity</a></li>
        <li><a href="#">Memebers</a></li>
    </ul>
    <div class="uk-switcher">
        <div>
            TODO
        </div>
        <div>
            <ul class="uk-list">
            @for(member <- group.getMembers) {
                <li>@personEntry(member)</li>
            }
            </ul>
        </div>
    </div>

}
