@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.22/css/uikit.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.22/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.22/js/uikit-icons.min.js"></script>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
        <title>@title - Arroch</title>
    </head>
    <body>
        <nav class="uk-navbar-container" data-uk-sticky>
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href="/">Arroch</a>
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="/person/">People</a></li>
                </ul>
            </div>
        </nav>
        <div class="uk-container">
            @content
        </div>

        @if(flash.containsKey("success")) {
            <script>
                UIkit.notification("<span uk-icon='icon: check'></span> @flash.get("success")", {status:'success'});
            </script>
        }
    </body>
</html>
