@(person: Person)

@main(person.getDisplayName) {
    <h1 class="uk-heading-primary">@person.getDisplayName</h1>
    <dl class="uk-description-list">
        @if(person.getFirstName) {
            <dt>First name</dt>
            <dd>@person.getFirstName</dd>
        }
        @if(person.getMiddleName) {
            <dt>Middle name</dt>
            <dd>@person.getMiddleName</dd>
        }
        @if(person.getLastName) {
            <dt>Last name</dt>
            <dd>@person.getLastName</dd>
        }
        @for(properity <- person.getInfo) {
            <dt>@properity.getType.getName</dt>
            <dd>@properity.getValue</dd>
        }
    </dl>
}
