@(person: Person)

@main(person.getDisplayName) {
    <h1 class="uk-heading-primary">
        @person.getDisplayName
        <a class="uk-icon-link" data-uk-icon="icon: pencil; ratio: 2" href="@routes.People.editPerson(person.getId)"></a>
    </h1>
    <dl class="uk-description-list">
        @if(person.getFirstName) {
            <dt>First name</dt>
            <dd>@person.getFirstName</dd>
        }
        @if(person.getMiddleName) {
            <dt>Middle name</dt>
            <dd>@person.getMiddleName</dd>
        }
        @if(person.getLastName) {
            <dt>Last name</dt>
            <dd>@person.getLastName</dd>
        }
        @for(property <- person.getInfo) {
            <dt>@if(property.getType.getIcon) {<span data-uk-icon="icon: @property.getType.getIcon"></span> }@property.getType.getName</dt>
            <dd>@property.getValue</dd>
        }
    </dl>
}
